<div style='margin: 10px 0px;'>Default</div>
<jqxSlider [theme]="'fluent'" #jqxSlider
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>
<div style='margin: 10px 0px;'>Primary</div>
<jqxSlider [theme]="'fluent'" #jqxSlider2
           [template]="'primary'"
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>
<div style='margin: 10px 0px;'>Success</div>
<jqxSlider [theme]="'fluent'" #jqxSlider3
           [template]="'success'"
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>
<div style='margin: 10px 0px;'>Info</div>
<jqxSlider [theme]="'fluent'" #jqxSlider4
           [template]="'info'"
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>
<div style='margin: 10px 0px;'>Warning</div>
<jqxSlider [theme]="'fluent'" #jqxSlider5
           [template]="'warning'"
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>
<div style='margin: 10px 0px;'>Danger</div>
<jqxSlider [theme]="'fluent'" #jqxSlider6
           [template]="'danger'"
           [tooltip]="true"
           [mode]="'fixed'">
</jqxSlider>