<jqxButton [theme]="'fluent'" [width]="80" style="float: left">Default</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'primary'" [width]="80" style="float: left; margin-left: 4px">Primary</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'info'"    [width]="80" style="float: left; margin-left: 4px">Info</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'success'" [width]="80" style="float: left; margin-left: 4px">Success</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'warning'" [width]="80" style="float: left; margin-left: 4px">Warning</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'danger'"  [width]="80" style="float: left; margin-left: 4px">Danger</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'inverse'" [width]="80" style="float: left; margin-left: 4px">Inverse</jqxButton>
<jqxButton [theme]="'fluent'" [template]="'link'"    [width]="80" style="float: left">Link</jqxButton>