<jqxSplitter [theme]="'fluent'" #splitContainer
             [width]="getWidth()" [height]="850" [orientation]="'vertical'"
             [panels]="[{ size: '50%' }, { size: '50%' }]">
  <div>
    <jqxSplitter [theme]="'fluent'" #leftSplitter
             [width]="'100%'" [height]="'100%'" [orientation]="'horizontal'"
             [panels]="[{ size: '50%' }, { size: '50%' }]">
      <div>
        West - North
      </div>
      <div>
        West - South
      </div>
    </jqxSplitter>
  </div>
  <div>
    <jqxSplitter [theme]="'fluent'" #rightSplitter
             [width]="'100%'" [height]="'100%'" [orientation]="'horizontal'"
             [panels]="[{ size: '50%' }, { size: '50%' }]">
      <div>
        East - North
      </div>
      <div>
        East - South
      </div>
    </jqxSplitter>
  </div>
</jqxSplitter>