<jqxGrid [theme]="'fluent'" 
    [width]="getWidth()" [height]="150" [source]="dataAdapter" [columns]="columns" [columnsresize]="true">
</jqxGrid>

<br /><br />

<jqxButton [theme]="'fluent'" style="float: left; margin-right: 5px" (onClick)="addItemBtnOnClick()">Add Item</jqxButton>
<jqxButton [theme]="'fluent'" style="float: left; margin-right: 5px" (onClick)="deleteItemBtnOnClick()">Delete Item</jqxButton>
<jqxButton [theme]="'fluent'" style="float: left; margin-right: 5px" (onClick)="updateItemBtnOnClick()">Update Item</jqxButton>
<jqxButton [theme]="'fluent'" style="float: left" (onClick)="updatePathBtnOnClick()">Update Path</jqxButton>

<br />

<div #log style="clear: both"></div>
