<div id='jqxWidget' style="font-size: 13px; font-family: Verdana;">
  <div style='margin-top: 10px;'>
    Numeric
  </div>
  <jqxMaskedInput [theme]="'fluent'" #numericInput
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    Zip Code
  </div>
  <jqxMaskedInput [theme]="'fluent'" #zipCodeInput
                  [mask]="'#####-####'"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    SSN
  </div>
  <jqxMaskedInput [theme]="'fluent'" #ssnInput
                  [mask]="'###-##-####'"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    Phone Number
  </div>
  <jqxMaskedInput [theme]="'fluent'" #phoneInput
                  [mask]="'(###)###-####'"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    IP Address (ex: 255.255.255.255)
  </div>
  <jqxMaskedInput [theme]="'fluent'" #regexInput
                  [mask]="'[0-2][0-5][0-5].[0-2][0-5][0-5].[0-2][0-5][0-5].[0-2][0-5][0-5]'"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    Disabled
  </div>
  <jqxMaskedInput [theme]="'fluent'" #disabledInput
                  [disabled]="true"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
</div>
<br />
<jqxButton [theme]="'fluent'" #clearButton (onClick)="clear()">Clear Values</jqxButton>