<div>Default</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>
<br />

<div>Primary</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'" [template]="'primary'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>
<br />

<div>Success</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'" [template]="'success'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>
<br />

<div>Info</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'" [template]="'info'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>
<br />

<div>Warning</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'" [template]="'warning'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>
<br />

<div>Danger</div>
<jqxButton [theme]="'material'"Group [mode]="'checkbox'" [template]="'danger'">
  <button style="padding: 4px 16px" value='Left'></button>
  <button style="padding: 4px 16px" value='Center'></button>
  <button style="padding: 4px 16px" value='Right'></button>
</jqxButtonGroup>