<jqxGrid [theme]="'fluent'" #myGrid
    [width]="getWidth()" [source]="dataAdapter" [columns]="columns" 
    [filterable]="true" [showeverpresentrow]="true" [editable]="true"
    [everpresentrowposition]="'top'" [everpresentrowactionsmode]="'columns'" 
    [selectionmode]="'multiplecellsadvanced'" >
</jqxGrid>

<br />

<jqxRadioButton [theme]="'fluent'" (onChecked)="topRadioBtnOnChecked()" [checked]="true">Add New Row to Top</jqxRadioButton>
<jqxRadioButton [theme]="'fluent'" (onChecked)="bottomRadioBtnOnChecked()">Add New Row to Bottom</jqxRadioButton>
