#filterInput {
	width: 300px;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #ccc;
	transition: 0.2s border-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#filterInput:focus {
	outline: none;
	border-bottom: 2px solid var(--jqx-primary);
}